<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PassValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A908FBEA1C278E0F00B68E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A908FC031C278E1000B68E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A908FC0E1C278E1000B68E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
